.App {
  text-align: center;
}

body {
  background-color: rgb(250, 250, 250)
}


.container {
  
  display: flex;
 
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

.images {
	margin-right: 15px;
	height: 30px;

}

.heading {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
}

@media (max-width: 770px) {
	.container {
		margin: 0 5%;
	}

}
